#services {
  background: url('css-images/65760.jpg');
  background-attachment: fixed;
  background-size: cover;
    position: relative;
    min-height: 100vh;
}

#services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('css-images/topGradient.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;  /* position above the content but below other potential overlay content */
    pointer-events: none; /* ensures that the pseudo-element doesn't interfere with clicks */
    opacity: .5;
}

/* grid bottom start */
.services-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
    max-width: 1200px;
    margin: 60px auto 0; /* top margin set to 100px, bottom margin set to 0 */
}

  
  .services-item {
    padding: 30px;  /* Increased padding for better spacing */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;  /* For the overlay */
    overflow: hidden;  /* Ensures the overlay stays within the box */
  }
  
  /* Background Overlay */
  .services-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);  /* Semi-transparent black overlay */
    z-index: 1;
  }
  
  .services-item h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 2.5em;  /* Increased font size */
    font-weight: 700;  /* Made it bolder */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  /* Added text shadow for distinction */
    z-index: 2;  /* Places text above the overlay */
  
  }
  
  .services-item p {
    color: #ffffff;
    font-size: 1.3em;  /* Increased font size for better readability */
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);  /* Added text shadow for distinction */
    line-height: 1.5;  /* Improved line height for readability */
    z-index: 2;  /* Places text above the overlay */
  }
  
  .services-item:nth-child(1) {
    background: linear-gradient(45deg, #6DD5FA, #28D2D1);
  }
  
  .services-item:nth-child(2) {
    background: linear-gradient(45deg, #F7971E, #FFD200);
  }
  
  .services-item:nth-child(3) {
    background: linear-gradient(45deg, #FF6B6B, #FFE57E);
  }
  
  /* Hover Effect */
  .services-item:hover {
    transform: scale(1.05);
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (min-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (min-width: 992px) {
    .services-grid {
        grid-template-columns: 0.9fr 1.2fr 0.9fr;
    }
  }

  @media (max-width: 786px){
    #services{
      padding-top: 0px !important;
    }

    #services img{
      margin-top: 40px;
    }
  }
  
  /* grid bottom end */
  
  /* button */
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  
  /* button */