@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

#testimonials h1 {
  color: #e6d5a8;
  text-shadow: 1px 1px 2px #212121;
}
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #a8dadc;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 16px;
  border-top: 5px solid #e5c3d1;
  opacity: 0.3;
  transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); /* Increased blur value for content */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.snip1533::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), gray, rgba(0, 0, 0, 0.2)); */
  background-image: url("images/gradiantSecond.jpg");
  opacity: 0.85; /* Adjust the opacity to give a matte effect */
  
  /* Apply increased blur effect on the gradient */
  filter: blur(15px);
  -webkit-filter: blur(15px); /* For Safari compatibility */
  z-index: -1;
}


.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #e6d5a8;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #a8dadc;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  color: #e5c3d1;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

#testimonials {
  /* background: linear-gradient(to bottom, rgb(0, 0, 50), black); */
  background-image:  linear-gradient(to top, transparent, black 130%),
  url("images/gradiant2.jpg");
  background-size: cover, cover, cover; /* Cover for all layers */
  background-repeat: no-repeat, no-repeat, no-repeat; /* No repetition for all layers */
  background-attachment: fixed, fixed, fixed; /* Fix the background in place */
  margin: 0;
  overflow: auto;
  text-align: center;

}

#testimonials .snip1533:hover {
  opacity: 1;
  box-shadow: none;

}

figure.snip1533 {
  transform: translateX(-150rem);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}

figure.snip1533.isVisible {
  transform: translateX(0);
}
