*{
    font-family: 'Roboto', sans-serif;
  }
  /* scroll colors start */
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  header {
    color: white;
    padding: 10px;
    text-align: center; 
  }
  
  /* scroll colors end */
  
  #heading-text {
    margin-top: 4rem;
      text-align: center;
      z-index: 1;
  }
  
  #heading-text h1 {
    font-size: 4vw;
  }
  
  #heading-text h4{
    font-size: 2vw;
  }

  /* footer */
  ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
  background: #151414;
  position: relative;
  }

  .footer-cta{
  padding: 10px 0px;
  
  }
  .single-cta {
  display: flex;
  align-items: center; /* Vertically center-align the child items */
  justify-content: center;
  } 
  
  #projects-footer{
  justify-content: left;
  }
  
  .single-cta i {
  color: #E15A5A;
  font-size: 30px;
  margin-top: 8px; /* You might need to adjust this margin after centering */
  }

  .contactUsF a{
    text-decoration: none;
    color: white;
  }

  .contactUsF a:hover{
    color: #E15A5A;
  }
  
  
  .cta-text {
  padding-left: 15px;
  /* display: inline-block; Removed this */
  
  
  }
  
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }

  .single-cta:hover .cta-text h4,
.single-cta:hover .cta-text span {
    color: #E15A5A;
    
}
  .footer-content {
  position: relative;
  z-index: 2;
  }
  
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }

  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background-color: #DD4B39;
  }
  .footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #ff5e14;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  }
  
  .copyright-area {
  padding: 5px 0; 
  background-color: #2a2a2a; 
  color: #ffffff; 
  font-family: 'Arial', sans-serif; 
  }
  
  .copyright-area a {
  color: #ffffff; 
  transition: color 0.3s; 
  }
  
  .copyright-area a:hover {
  color: #E15A5A; 
  text-decoration: none; 
  }
  
  .copyright-text p {
  margin: 0; 
  }
  

  .copyright-section {
  background-color: #2a2a2a;
  padding: 10px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  }
  
  .copyright-section p {
  margin: 0;
  font-size: 14px;
  }
  
  .copyright-symbol, .year, .separator, .brand-name, .rights-reserved, .additional-links {
  margin: 0 5px;
  }
  
  .copyright-section a {
  color: #E15A5A;
  text-decoration: none;
  transition: color 0.3s ease;
  }
  
  .copyright-section a:hover {
  color: #ffffff;
  text-decoration: underline;
  }
  

  
  #footer-btn{
  margin-top: 10px;
  }
  
  #heading-text {
  background-color: rgba(211, 211, 211, 0.1);  /* Semi-transparent gray color */
  padding: 30px;  
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);  
  }
  
  

  /* socials start*/

  

#socials ul {
 
  display: flex;
  margin-top: 2rem;
}

#socials ul li {
  position: relative;
  list-style: none;
  width: 90px;
  height: 90px;
  margin-right: 25px;
  border-radius: 50%; /* Added this line to make it circular */
}


/* Since the background shapes of the spans are also square, you will need to adjust them as well */
#socials ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
  border-radius: 50%; /* Added this line to make it circular */
}


#socials ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
}

/* Removed the CSS for the 5th span as we don't have it anymore */
#socials ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .8;
}

#socials ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .6;
}

#socials ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .4;
}



#socials ul li:nth-child(1):hover span {
    background: #1877F2 !important; /* Facebook Blue */
  }
  
  #socials ul li:nth-child(2):hover span {
    background: #E4405F !important; /* Instagram Gradient (just using a solid pink for simplicity) */
  }
  
  #socials ul li:nth-child(3):hover span {
    background: #ffffff !important; /* White */
  }
  #tiktokLink:hover .fa-tiktok {
    color: black;
  }
  
  @media (max-width: 768px){
    #socials ul li span{
      width: 70%;
      height: 70%;
    }
    #socials ul li{
      margin-right: 0;
    }
    .row {
      display: flex;
      flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
      justify-content: space-between; /* Add some space between the items if there's extra room */
    }
    
    /* Let's set the columns to take 50% of the parent's width, minus some padding */
    .col-xl, .col-md {
      flex: 0 0 calc(50% - 10px); /* 10px as an arbitrary value for spacing */
      max-width: calc(50% - 10px);
    }
    
    .mb-30 {
      margin-bottom: 30px; /* or whatever value you need */
    }
    #contact-info .contactUsF {
      font-size: 11px !important;
  }
  }
  /* social end */

/* Header start */

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  display: flex;
  align-items: center;
  /* Vertically center */
  justify-content: center;
  /* Horizontally center */
}


.navbar .navbar-brand {

  font-size: 2rem;
  transition: padding-right 0.3s ease-out, font-size 0.3s ease-out;
}



.navbar .navbar-brand,
.navbar .nav-link {
  color: black !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 1650px) {
  .navbar .nav-link span {
    transition: font-size 0.3s ease;
    font-size: 1.5rem;
  }

  .navbar .nav-link span:hover {
    font-size: 2rem;
  }

}

@media (max-width: 1200px) {
  .navbar .nav-link span {
    transition: font-size 0.3s ease;
    font-size: 1.2rem;
  }

  .navbar .nav-link span:hover {
    font-size: 1.7rem;
  }

}

.navbar .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}



.container .text-muted {
  margin: 20px 0;
  color: #6c757d;
}

.nav-item span {
  transition: font-size 0.3s ease;
  font-size: 1.5rem;
}



@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(1turn);
  }
}

.logo-spin:hover {
  animation: spin 3s infinite linear;
}

.logo {
  height: 200px;
  width: 180px;
  transition: all 0.3s;
}

.navbar-toggler {
  display: none;
}



@media (max-width: 992px) {
  .navbar-nav {
    display: none !important;
  }
}

/* Override Bootstrap's default styles */
.logo-container {
  padding-left: 0;
  margin-left: 0;
  /* Remove left padding */
}

/* Ensure logo and text align to the left */
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#desktop-logo{
  padding: 2px 10px 2px 0px;
}
.logo-spin {
  transition: transform 0.3s ease;
}
#mobile-img{
  display: none;
}
@media (max-width: 460px) {

  #navbar-brand-text {
    transform: scale(.75);
    margin-left: 10px;
  }
  #desktop-img{
    display: none;
  }
  #mobile-img{
    display: block;
  }
  #nav-menu-button.open-main-nav{
    top: 47px;
  }
}


.menu ol {
z-index: 1000;
list-style: none;
padding: 0;
margin: 0;
}
ol.sub-menu {
background: rgb(85, 85, 85, 0.5); /* This creates a black background with 50% opacity */
text-align: left;
padding: 10px; /* Adds some space around the text */
border-radius: 5px; /* Optional: Rounds the corners of the background box */
}

.menu-item {
display: flex;
align-items: center;
justify-content: center;
position: relative;
transition: background 0.3s ease-in-out;
}

.menu-item .sub-menu {
position: absolute;
top: 100%;
left: 50%;
/* Center the dropdown */
transform: translateX(-50%) rotateX(-90deg);
/* Centering and initial rotation */
transform-origin: top;
transition: transform 0.3s linear;
width: auto;
/* Adjust this if you want a specific width */
white-space: nowrap;
/* Prevents the text from wrapping to the next line */

}

.menu-item:hover .sub-menu {
transform: translateX(-40%) rotateY(0deg);
/* Centering and hover rotation */
}

.menu-item a {
font-size: 0.8rem;
display: flex;
flex-direction: column;
align-items: center;
color: #151414;
text-decoration: none;
text-transform: uppercase;
height: 100%;
width: 100%;
margin: 0;
}

.sub-menu a {
padding: .5em 1em;
transition: font-size 0.3s ease;
display: block;
/* Make the links appear as block elements */
width: 100%;
/* Take up the full width of the parent */
}

.sub-menu a:hover {
font-size: 1.5rem;
text-decoration: none;
color: #151414;
}

@media (min-width: 768px) {
.menu-item a {
  font-size: 1rem;
}
}

.navbar, .navbar-nav .nav-link, #navbar-brand-text {
  color: #ffffff !important; /* White color for text */
}

.logo-spin {
  filter: invert(1); /* Invert colors for logos */
}
/* CSS */
ol.sub-menu a {
  color: #ffffff !important; /* White color for text in sub-menu */
}

/* Mobile Menu Start */
  

#menu {
  display: none;
}

.menu-icon .bar{
  background-color: white !important;
}

@media (max-width: 460px){
  .menu-icon {
    top: 32px !important;
  }
}
/* menu end */


/* Header End */
/* Button Start */

.button-85 {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 13px;  /* Reduced from 14px */
  font-weight: bold;
  font-family: inherit;
  color: #fff;
  width: 8.5em;  /* Reduced from 9em */
  height: 2.8em;  /* Reduced from 3em */
  line-height: 2em;  /* Adjusted in relation to height */
  text-align: center;
  background: linear-gradient(90deg, #FF7F7F, #FFE0A3, #5A5FCF, #FF7F7F);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  background-size: 300%;
  border-radius: 30px !important;  /* Reduced radius */
  z-index: 1;
}

.button-85:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button-85:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #E15A5A, #E0B66E, #7871C0, #E15A5A);
  background-size: 400%;
  border-radius: 30px;  /* Reduced radius */
  transition: 1s;
}

.button-85:hover::before {
  filter: blur(20px);
}

.button-85:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}
/* Button End */
