#gallery {
  position: relative;
  height: 40vh;
  overflow: hidden;
  perspective: 1000px;
}

.gallery-image {
  position: absolute;
  width: 25%;
  bottom: 10%;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45%, transparent), to(rgba(250, 250, 250, 0.25)));
  transform-style: preserve-3d;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, .9); /* Adjust the values for your desired shadow effect */
}


.left-image {
  left: calc(25% - 25px);
}

.right-image {
  right: calc(25% - 25px);
}

.left-image, .right-image {
  transition: transform 0.05s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.05s linear;
}
