

#socials {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00071C;
}

#socials ul {
  position: relative;
  display: flex;
}

#socials ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
  border-radius: 50%; /* Added this line to make it circular */
}


/* Since the background shapes of the spans are also square, you will need to adjust them as well */
#socials ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
  border-radius: 50%; /* Added this line to make it circular */
}

#socials ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
}

/* Removed the CSS for the 5th span as we don't have it anymore */
#socials ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .8;
}

#socials ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .6;
}

#socials ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .4;
}



#socials ul li:nth-child(1):hover span {
    background: #1877F2 !important; /* Facebook Blue */
  }
  
  #socials ul li:nth-child(2):hover span {
    background: #1DA1F2 !important; /* Twitter Blue */
  }
  
  #socials ul li:nth-child(3):hover span {
    background: #E4405F !important; /* Instagram Gradient (just using a solid pink for simplicity) */
  }
  
  #socials ul li:nth-child(4):hover span {
    background: #ffffff !important; /* White */
  }
  
  #socials ul li:nth-child(4):hover .threads {
    filter: invert(1);
  }
  
  